body {
  color: #000000!important;
  font-family: 'Montserrat';
}

.primary-color{
  color: #9b4819!important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9b4819;
  --bs-btn-border-color: #9b4819;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #904012;
  --bs-btn-hover-border-color: #904012;
  --bs-btn-focus-shadow-rgb: 60, 198, 171;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #904012;
  --bs-btn-active-border-color: #904012;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9b4819cc;
  --bs-btn-disabled-border-color: #9b4819cc;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: "Radley", serif;
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
      font-size: 2.5em;
      line-height: 2rem;
  }
}
/* @media (min-width: 992px) {
  .masthead .masthead-heading {
      font-size: 7rem!important;
      line-height: 3.5rem;
  }
}

@media (min-width: 992px) {
  .masthead .masthead-subheading {
      font-size: 2rem;
  }
} */

.masthead-position{
  letter-spacing: 10px;
}

.bg-primary{
  background-color: #9b4819!important;
}

.bg-secondary{
  background-color: #f4f1e8!important;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.work-experience-header{
  font-family: 'Montserrat';
  font-weight: 100;
}

.work-experience-div-content{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .work-experience-div-content {
    flex-direction: column;
  }
}



.work-experience-content{
  display: flex;
  justify-content: space-between;
}

.work-experience-content span{
  font-family: 'Montserrat';
  font-weight: 100;
}

.company-div{
  display: flex;
  flex-direction: column;
}

.company-position{
  color: #bab6aa;
}

.core-development-focus-row{
  display: flex;
  justify-content: space-around;
}

.core-development-focus-img{
  max-height: 96px;
  margin: 0px;
}

.core-development-focus-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.core-development-focus-div-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card{
  
  border-color: #e7e4dacc;
  background-color: #e7e4da;
  color: white;
}

.card:hover{
  border-color: #f4f1e8cc;
  background-color: #f4f1e8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-title{
  font-weight: bold;
}

.portfolio-row{
  display: flex;
  justify-content: center;
}

.card-img-top{
  max-height: 200px;
  width: auto;
}

.footer-reachout{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.free-to-connect{
  text-align: left!important;
}

.footer{
  background-color: #9b4819;
}

.footer-contact{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.build-container{
  display: flex;
  flex-direction: column;
}